<html xmlns:th="http://thymelead.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>

    <link th:href="@{../default.css}" rel="stylesheet">
</head>
<body>
<header>

    <a href = "/" style="text-decoration: none;"><h1 align = "center"><font size="25" color="red" face="Impact">Course Work </font></h1></a>
</header>

<div>
    <a   href="/upload" style="text-decoration: none;"   ><p  align = "left"><font size="10" color="black" face="Consolas">Добавление данных в БД</font></p></a>
    <a    href="/stats" style="text-decoration: none;"><p align = "left"><font size="10" color="black" face="Consolas">Самая частая транзакция </font></p></a>
    <a    href="/max" style="text-decoration: none;"><p align = "left"><font size="10" color="black" face="Consolas">Самая большая транзакция</font></p></a>
</div>
</body>
</html>
